
body{
	font-family: Courier;
}

.heading{
	top:0;
}

.cover{
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	/*background-color: black;*/
}

.wrap{
	width: calc(100%);
	margin-top: 20px;
	/*background-color: red;*/
}

.figure{
	background-image: url('./assets/background.png');
	flex-basis:calc(15% - 4rem);
	flex-grow: 1;
	flex-shrink: 0;
	margin: 0 auto;
	padding: 2rem;
	border: 2px solid black;
	/*background:red;*/
	position: relative;
	max-width:400px;
}

.hotelPhoto{
	margin: 0 auto;
    display: block;	
    width: calc(100%);
    border: 3px solid white;
}

.hotelName{
	margin: 0 auto;
	font-size:20px;
	margin-top:20px;
    display: block;	
    color:white;
}

.hotelAddress{
	margin: 0 auto;
    display: block;	
    color:#B1BDCC;
}

.hotelLocation{
	margin: 0 auto;
    display: block;	
    color:#B1BDCC;
}

.hotelNumber{
	margin: 0 auto;
    display: block;	
    color:white;
}